html, body
{
	height: 100%;
}

body
{
	background: white;
}

#wrapper
{
    min-height: 100%;
    position: relative;
}

#content
{
	padding-bottom:50px; 
}

img
{
    display: block;
    margin: auto;
    padding-top: 4em;
	overflow: hidden;
	vertical-align:bottom;
    border:0;
}

.jumbotron
{
	width:100%;
	height:128px;
	top:0;
	left:0;
    z-index: -1; 
    margin-bottom: 0px;
    background-size: cover;
    border: none;
    background: #40AAF2;
    background: url('../img/BHwhite02.png') no-repeat center center, linear-gradient(to right, #4055F2, #50D2B4);	
	background-size: contain;
}


ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 60%;
	position: absolute;
	left: 60%;
	transform: translatex(-60%);
}

li
{
	float: center;
	display: inline;
}

h1, h2, h3, h4, a, p
{
	font-family: Montserrat;
}

h1 /*.create-your-collecti*/ 
{
	color: #A7ACB3;
	font-size: 48px;
	font-weight: bold;
	line-height: 58px;
	text-align: center;
}

h4
{
	color: #40AAF2;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}

a
{
	color: #C8CDD5;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
}

lable
{
	color: #231F20;
	font-size: 11px;
	font-weight: 300;
	line-height: 14px;
}

h2
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
}

h3
{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}

.browse
{
	height: 26px;
	width: 108px;
	border-radius: 13px;
	background-color: #40AAF2;
}

.btn-prev, .btn-save, .btn-next
{
	height: 2.37%;
	width: 19.73%;
	border-radius: 24px;
	background-color: #40AAF2;
}

#footer
{
	width:100%;
	height:55px;
	position:absolute;
	bottom:0;
	left:0;
}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em)
{ 
    img
	{
        max-height: 60%;
        max-width: 60%;
    }
	
	.row.equal 
	{
		display: flex;
		flex-wrap: wrap;
	}

}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)
{
    img
	{
        max-hight: 20em;
        max-width: 20em;
    }
	
	.row.equal 
	{
		display: flex;
		flex-wrap: wrap;
	}

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em)
{

}