{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>ASSIGN YOUR AWARD</h1>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h4 style="color:#52D291"><strong>AWARD NAME</strong></h4>
                <div></div>
                <label>What will be awarded to scavengers who complete the collection?</label> 
                <textarea class="form-control" rows="1" id="name"></textarea>
                <div style="padding: 15px"></div>
                <h4 style="color:#52D291"><strong>LOCATION</strong></h4>
                <div></div>
				<label>What is the name of the place that scavengers need to visit to collect their awards?</label>
				<textarea class="form-control" rows="1" id="locationName"></textarea>
                <div style="padding: 15px"></div>
				<label>Click to enter a pin on the map or enter the latitude and longitude for the award location.</label>
				<h4 style="color:#52D291"><strong>TERMS AND CONDITIONS (optional)</strong></h4>
				<div></div>
				<label>If any terms or conditions apply to the award or to the collection of the award, please state or describe them below.</label>
				<textarea class="form-control" rows="4" id="termsAndConditions"></textarea>
				<div style="padding: 15px"></div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button id="btn-prev" class="btn btn-default btn-md pull-right" style="border-radius: 17px; background: #52D291; padding-left: 30px; padding-right: 30px;">Previous</button>  
            </div>
            <div class="col-md-4 text-center">
                <button class="btn btn-default btn-md" style="border-radius: 17px; background: #52D291; padding-left: 40px; padding-right: 40px;" id="btn-save">Save</button> 
            </div>
            <div class="col-md-4">
                <button class="btn btn-default btn-md pull-left" style="border-radius: 17px; background: #52D291; padding-left: 40px; padding-right: 40px;" id="btn-next">Next</button>
            </div>
        </div>
        <div style="padding: 30px"></div>
        <script>
            $(document).on('click', '#btn-next', function(){
                var name = $("#name").val();
				var termsAndConditions = $("#termsAndConditions").val();
                var cid = {{cid|json_encode|raw}};
                var form = $('form')[0]; 
                var formData = new FormData(form);
                formData.append("cid", cid);
                formData.append("name", name);
                formData.append("termsAndConditions", termsAndConditions);
                $.ajax({
                    url:'/add/awards',
                    type:'post',
                    data:formData,
                    contentType: false,
                    processData: false,
                    success:function(data){
                        window.location.href = "/collections;
                    }
                });
            });
        </script>
    </div>
{% endblock %}