{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>CREATE YOUR COLLECTION</h1>
        <div class="row">
            <div class="col-md-9">
                <label>NAME</label>
                <label>What is the collection name you'd like scavengers to see?</label> 
                 <textarea class="form-control" rows="1" id="message"></textarea>
            </div>
        </div>
    </div>
{% endblock %}