{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>BUILD YOUR BADGES</h1>
        <div>These badges will belong to the collection with cid = {{cid}}</div>
        <div class="panel panel-default">
            <div class="panel-body text-center" style="background-color: #52D291">Badge One</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body text-center" style="background-color: #52D291">Badge Two</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body text-center" style="background-color: #52D291">Badge Three</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body text-center" style="background-color: #52D291">Badge Four</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body text-center" style="background-color: #52D291">Badge Five</div>
        </div>
    </div>
{% endblock %}